.second_step{
  margin-top: 2.5rem;
  width: 86%;
}

.second_step h2{
  font-size: 2rem
}

.second_step p{
  margin-top: .7rem;
  color: var(--Cool-gray);
}

.wrapper_plans{
  width: 100%;
  display:flex;
  gap:1rem;
  margin-top: 2.6rem;
}

.plans{
  width: 35%;
  height: 10rem;
  border-radius: .5rem;
  border: 1px solid var(--Light-gray);
  display: flex;
  padding: 1.2rem 0 0 1rem;
  flex-direction:column;
  cursor:pointer;
  margin-bottom: 2rem;
}

.plans img{
  width: 2.5em;
}

.plans b{
  margin-top: 2.7rem;
  color: var(--Marine-blue);
}

.plans span{
  color: var(--Light-gray);
  font-size: .9rem;
  margin-top: .3rem;
  font-weight: bold;
}

.moth_or_yearly{
  width: 100%;
  height: 3rem;
  background: var(--Magnolia);
  border-radius: .5rem;
  display:flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;
}

.moth_or_yearly span{
  font-weight: bold;
  font-size: .9rem;
  color: var(--Cool-gray);
}

.navigate{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top:2rem;
}

.navigate a{
  padding: 1rem 1.5rem;
  text-decoration:none;
  color:var(--Cool-gray );
  transition: .1s;
}

.navigate .back:hover{
  color: var(--Marine-blue);
  font-weight: bold;
}

.navigate .next_step{
  background: var(--Marine-blue);
  color: var(--White);
  border-radius: .5rem;
}