.form{
  display: flex;
  flex-direction: column;
  margin-top: 2.6rem;
  width: 84.5%;
  /* background-color: orange; */
}

.form h1{
  font-size: 2.2rem;
  color: var(--Marine-blue);
}

.form p{
  margin-top: .8rem;
  font-size: 1.1rem;
  color: var(--Cool-gray);
}

.form label{
  font-size: 1rem;
  font-weight: 500;
  color: var(--Marine-blue);
}

.wrapper_inputs{
  margin-top: 2.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form input{
  padding: 1rem;
  margin-top: .5rem;
  width: 100%;
  height: 3.4rem;
  border-radius: .5rem;
  border: none;
  border:1px solid var(--Cool-gray);
}

.form button{
  margin-top: 11%;
  display: flex;
  width: 8.2rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  background-color: var(--Marine-blue);
  border: none;
  border-radius: .5rem;
  color: var(--White);
  font-size: 1rem;
  cursor: pointer;
  text-decoration:none;
}